# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# IDE
/.vscode                        export-ignore

# Exclude other addons
/addons/godot-plugin-refresher  export-ignore

# GUT - Godot Unit Test Framework
/addons/gdUnit4                 export-ignore
.gut_editor_config.json         export-ignore
.gut_editor_shortcuts.cfg       export-ignore
.gutconfig.json                 export-ignore

# Project items
# Unit Tests
/addons/godot-playfab/test      export-ignore
# This is where I keep my raw assets
/raw_assets                     export-ignore
# Showing off the demo scene.
demo-scene.gif                  export-ignore

# CI/CD
GitVersion.yml                  export-ignore
/.github                        export-ignore
.asset-template.json.hb         export-ignore # Template for AssetLib publishing
